#name {
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(28, 28, 160);
}

#tech {
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgb(97, 94, 112);
}

#soft {
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgb(97, 94, 112);
}

#not_done {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    border: 2px solid grey;
    border-radius: 30px;
}

#not_done:hover {
    border: 2px solid grey;
    box-shadow: 4px 7px 7px grey;
}

#no_exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    border: 2px solid grey;
    border-radius: 30px;
}

#no_exp:hover {
    border: 2px solid grey;
    box-shadow: 4px 7px 7px grey;
}

#about_me {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 80px;
    border: 2px solid grey;
    border-radius: 30px;
    text-indent: 40px;
    text-align: justify;
}

#about_me a {
    text-decoration: none;
    color: black;
}

#about_me a:hover {
    color: rgb(69, 27, 187);
}

.kle {
    text-shadow: 1px 1px 2px black;
}

#about_me:hover {
    border: 2px solid grey;
    box-shadow: 4px 7px 7px grey;
}

#home {
    padding-top: 70px;
}

#skills {
    padding-top: 70px;
}

#projects {
    padding-top: 70px;
}

#experience {
    padding-top: 70px;
}

#about {
    padding-top: 70px;
}

#contact {
    padding-top: 70px;
}